<div>
  <ngx-loading [show]="loading"></ngx-loading>
  <div class="has-error" *ngIf="errorMessage">{{errorMessage}}</div>
  <div class="table-responsive">
  <table class="table table-bordered table-striped"
          *ngIf="securities && securities.length">
      <thead class="thead-inverse">
        <tr>
            <th>Security Id</th>
            <th>Security Name</th>
            <th>Symbol</th>
            <th>Sector</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let security of securities">
            <td>{{ security.id }}</td>
            <td>{{ security.name }}</td>
            <td>{{ security.symbol }}</td>
            <td>{{ security.sector }}</td>
        </tr>
      </tbody>
  </table>
</div>
